* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif; 
  user-select: none;
  -webkit-tap-highlight-color: transparent;

}

body {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;     
  user-select: none;          
}


.popupMessage {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; 
  color: white;
  padding: 1vw 2vw;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 1.2vw;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.MobpopupMessage {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; 
  color: white;
  padding: 1vw 2vw;
  border-radius: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 4vw;
  animation: fadeOut 3s forwards;
}

@media (max-width: 1024px)  {
  .popupMessage {
    font-size: 4vw;
  }
}


@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .MobpopupMessage {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; 
    color: white;
    padding: 1vw 2vw;
    border-radius:1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 3vw;
    animation: fadeOut 3s forwards;
  }
}